<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rohini.footware">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Stores" />
        <activity android:name=".ProductsAdd" />
        <activity android:name=".DeleteProducts" />
        <activity android:name=".ShowProduct" />
        <activity android:name=".Main" />
        <activity android:name=".HighHeel" />
        <activity android:name=".Flat" />
        <activity android:name=".FlatSleeper" />
        <activity android:name=".PencilHeel" />
        <activity android:name=".Shoe" />
        <activity android:name=".SideHeel" />
        <activity android:name=".BoxHeel" />
        <activity android:name=".Keto" />
        <activity android:name=".PointHeel" />
        <activity android:name=".Sandle" />
        <activity android:name=".MyAccount" />
        <activity android:name=".UpdateProduct" />
        <activity android:name=".MyOrders" />
        <activity android:name=".Welcome"></activity>
    </application>

</manifest>